@import "~leaflet/dist/leaflet.css";

gh-element[element-type="area_map"] {
  height: 100%;
  width: 100%;

  .leaflet-popup-content-wrapper {
    // width: fit-content;
    .leaflet-popup-content {
      .view-container {

        width: fit-content !important;
      }
    }
  }
}

area-map {
    height: 100%;
    width: 100%;

  .container {
    height: 100%;
    width: 100%;
    border: 2px solid black;

    #map {
      height: 100%;
      width: 100%;
    }
  }
}
